* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: rgb(106, 106, 240);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

nav{
  width: 60%;
}

.logo-img .elenco .bottom{
  background-color: orange;
  border: 2px dashed black;
  justify-content: center;
  display: flex;
}

.logo-img{
  border: 2px dashed black;
  display: flex;
  text-align: left;
  width: 20px;
}

.elenco{
  border: 2px dashed black;
  list-style: none;
  display: flex;
  text-align: center;
  width: 60px;
}

.bottom{
  border: 2px dashed black;
  display: flex;
  text-align: right;
  width: 20px;
}


.conteiner{
  height: 500px;
  display: flex;
}

.jumbotron {
  background-color: blue;
}

.box {
  background-color: palevioletred;
  border: 2px dashed black;
  width: 60%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.bianco {
  background-color: white;
}

.immagine {
  background-color: rgb(77, 116, 213);
  border: 2px dashed black;
  width: 50%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.testo {
  background-color: pink;
  border: 2px dashed black;
  width: 30%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.grigio {
  background-color: lightslategray;
}


