* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.debug {
  height: 50px;
  border: 1px solid black;
}

/* HEADER */
header {
  background-color: aqua;
  margin: 0 auto;
  max-width: 2000px;
  display: flex;
  flex-wrap: wrap; /* per far andare a capo i link qnd TABLET */
  align-items: center; /* per centrare elementi */
  justify-content: space-evenly; /* per distibuire i link */
}

.logo {
  display: flex;
  justify-content: center; /* per centrare elementi */
  flex-grow: 1;
  margin: 15px;
  text-align: left;
}

.logo .logo-img{
  width: 250px ;
  padding: 5px
} */

nav{
  width: 1000px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  background-color: black;
  color:white;
  padding: 5px 10px;
}

nav ul li a:hover{
  background-color: grey;
}

.bottom {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 250px ;
  text-align: right;
  padding: 5px
}